  <form [formGroup]="inputForm" (ngSubmit) = "processForm(inputForm.value)" action="http://lvh.me:4000/ps7/search" method="post">
    <div class="form-group">
      <label for="event">Keyword: </label>
      <input type="text" class="form-control" id="event"  formControlName="event"  placeholder='Dog shows, plays, ...' required ngModel>
      <br>
      <label for="city">City: </label>
      <input type="text" class="form-control" id="city"   formControlName="city"  placeholder='Boston, London...' required ngModel>
      <br>
      <label for="country">Country: </label>
      <select formControlName="country" id="country">
        <option *ngFor="let country of countries | keyvalue" [value]="country.key">{{country.value}}</option>
      </select>
      <br>
      <div *ngIf="inputForm.value.country == 'US'">
        <label for="states">State: </label>
        <select formControlName="state" id="states" >
          <option *ngFor="let state of states | keyvalue" [value]="state.key">{{state.value}}</option>
        </select>
      </div>

      <br>

    </div>

    <button type="submit" class="btn">Go!</button>

  </form>

<div *ngIf="result == null; else elseBlock"></div>
<ng-template #elseBlock>
  <app-display [data]="result"></app-display>
</ng-template>
